@mixin boxShadow{
   box-shadow: 1px 5px 7px var(--cor-sombra-2),
   -1px -1px 6px var(--cor-sombra-1);
   border-radius: 50%;
   color: var(--cor-secondary);
}

@mixin boxShadowInset{
   @include boxShadow;
   box-shadow: inset 1px 3px 7px var(--cor-sombra-2),
    -2px -2px 6px var(--cor-sombra-1);  
}

