*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   vertical-align: middle;
   text-decoration: none;
   list-style: none;
   outline: none;
}

// CONTAINER

.container{
   max-width: 320px;
   margin: 0 auto;
}
