// PALETA DE CORES UTILIZADAS

:root{
  --gradient-colors: #f0f2f5, #eaedf1;
  --cor-fundo: #ffffff;
  --cor-fundo-app: #e9eff7ea;

  --cor-sombra-1: #ffffff;
  --cor-sombra-2: rgb(203, 212, 228);
  --cor-sombra-3: #1e3a55;
  --cor-sombra-4: #0e2349;  

  --cor-primary: #f8f8f8;
  --cor-secondary: #5e728d;
  --cor-terciary: #4f8cff;
}

// TAMANHO DA FONTE

$font-1: 1.8em;
$font-2: 1.5em;
$font-3: 1.2em;
$font-4: 1.0em;
$font-5: 0.9em;

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Poppins', sans-serif;
  background: var(--cor-fundo);

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
